/*! TEXT & BLOCKS */
a {
    text-align: center;
}

body {
    margin: 0;
}

button {
    background: white;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.burger {
    font-size: 36px;
}

iframe {
    width: 100%;
    margin: 0 auto;
    display: block;
}

img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

nav {
    background-color: black;
    color: white;
}

p {
    color: black;
}

footer p {
    color: white;
}

section {
    align-content: center;
}


/** CLASSES */
.beer {
    text-align: center;
}

.box1 {
    width: 600px;
    font-size: 20px;
    padding: 1em;
    border: 4px solid #ccc;
    margin-bottom: 20px;
    display: inline-block;
}

.box2 {
    width: 600px;
    font-size: 40px;
    padding: 1em;
    border: 4px solid #ccc;
    display: inline-block;
}

.content {
    color: red;
}

/* Create two equal columns that sits next to each other */
.column {
    column-count: 2;
    flex: 100%;
    padding: 0 4px;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

.footer p {
    margin: 1em;
}

.gallery {
    text-align: center;
}

.beergrid {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    text-align: center;
}

.gallerygrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.teamgrid {
    margin: 1em auto 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.hamburger {
    position: relative;
    display: inline-block;
}

.hamburger-content {
    background: black;
    display: none;
    position: absolute;
    left: 0;
    z-index: 1s;
    font-size: 24px;
}

.hamburger:hover .hamburger-content {
    display: block;
    /* animation: popup .2s ease-in-out both; */
}

.hamburger:hover .hamburger-content a {
    color: white;
    display: block;
}

.hamburger:hover .hamburger-content a:visited {
    color: lightskyblue;
}

.hamburger:hover .hamburger-content a:hover {
    color: lime;
}

.hamburger:hover .hamburger-content a:active {
    color: yellow;
}

.hamburger span {
    transition: transform .2s;
    -webkit-transition: -webkit-transform .2s;
    display: block;
    transform: rotate(90deg);
}

.hamburger:hover span {
    transition: transform .2s;
    -webkit-transition: -webkit-transform .2s;
    display: inline-block;
    transform: rotate(180deg);
}

.location {
    text-align: center;
}

.splash {
    /* for outdated browsers */
    background-color: orange;
    background-size: cover;
    height: 80%;
    width: 100%;
    text-align: center;
}

.splash {
    /* for newer browsers that can use viewport units */
    background-image: url(https://emporiumchicago.com/wp-content/uploads/2015/05/beer-taps-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.splash div {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.container {
    border: 1px solid lime;
}

.desktopmenu {
    width: 100%;
    display: block;
    text-align: left;
    background: black;
    color: white;
}

div.split1 {
    display: inline-block;
    width: 49%;
    margin-left: 5px;
}

.split1 p {
    color: white;
}

div.split2 {
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
    width: 49%;
}

.split2 a {
    color: white;
}

.split2 a:hover {
    color: lime;
}

.split2 a:active {
    color: yellow;
}

.team {
    text-align: center;
    margin: 0 auto;
}


/* ! MEDIA QUERIES / MOBILE AND DESKTOP MENU SETTINGS */

.mobilemenu {
    display: none;
}

/* for screen greater than 801px */
@media all and (min-width: 801px) {
    .one {
        width: 100%;
        grid-column: 1 / -1;
    }

}

/* for screen less than 800px */
@media all and (max-width: 800px) {
    .mobilemenu {
        display: none;
    }

    .desktopmenu {
        display: block;
    }


    img {
        margin: 0 auto;
        display: block;
    }

    p {
        color: purple;
    }

    .beergrid {
        width: 0 auto;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin: 1em;
        text-align: center;
    }

    .gallerygrid {
        grid-template-columns: 1fr 1fr;
    }

    .teamgrid {
        grid-template-columns: 1fr 1fr;
    }
}

/* for screen less than 460px */
@media all and (max-width: 460px) {

    .mobilemenu {
        display: block;
    }

    .desktopmenu {
        display: none;
    }

    .beergrid {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        margin: 1em;
        text-align: center;
    }

    .gallerygrid {
        grid-template-columns: 1fr;
    }

    .gallerygrid img {
        margin: 1em auto 1em auto;
    }

    .teamgrid {
        grid-template-columns: 1fr;
    }

    .splash div {
        color: white;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        margin: 0 auto;
        display: block;
        width: 50%;
    }

    p {
        color: orange;
    }
}



/*? GENERAL LINKS BEHAVIOR */

a:link {
    color: orange;
}

a:visited {
    color: darkorchid;
}

a:hover {
    color: lime;
}

a:active {
    color: yellow;
}